html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.buttonLink {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #e9617a;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  font-weight: bold;
}

.active {
  background-color: #dbfbbf;
  color: black;
}

.app.light {
  background-color: white;
  color: black;
  min-height: 100vh;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #121212;
  color: white;
}

